/* MAIN STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    min-height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body {
    width: 100%;
    height: 100%;
    background-color: #191919;
}

section {
    scroll-snap-align: start;
}

h1 {
    color: white;
}

.center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RAINBOW TEXT */
$root: '.c-rainbow';

:root {
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 12;
    
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #D49C3D;
    --color-red: #D14B3D;
    --color-violet: #CF52EB;
    --color-blue: #44A3F7;
    --color-green: #5ACB3C;
    --color-yellow: #DEBF40;
    --color-foreground: var(--color-white);
}

html, body {
    font-size: 1.5rem;
}

.c-rainbow {
    font-weight: 800;
}

#{$root} {
    counter-reset: rainbow;
    position: relative;
    display: block;
    
    list-style: none;
    
    padding: 0;
    margin: 0;
    
    &__layer {
    --text-color: var(--color-foreground);
    counter-increment: rainbow; 
    font-size: 2rem;
    color: var(--text-color);

    text-shadow:
    -1px -1px 0 var(--color-black),  
        1px -1px 0 var(--color-black),
        -1px 1px 0 var(--color-black),
        1px 1px 0 var(--color-black),
    
        4px 4px 0 rgba(0, 0, 0, .2);
    
    animation: rainbow 1.5s ease-in-out infinite;
    
    @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
        animation-delay: calc( #{$i} / var(--delay) * 1s);
        left: calc(var(--axis-x) * #{$i});
        z-index: -#{$i * 10};
    }
}
  
&:not(:first-child) {
    position: absolute;
    top: 0;
}

        &--white  { --text-color: var(--color-white)}
        &--orange { --text-color: var(--color-orange)}
        &--red    { --text-color: var(--color-red)}
        &--violet { --text-color: var(--color-violet)}
        &--blue   { --text-color: var(--color-blue)}
        &--green  { --text-color: var(--color-green)}
        &--yellow { --text-color: var(--color-yellow)}
    }
}

@keyframes rainbow {
    0%, 100% {
        transform: translatey(var(--axis-y)); 
    }
    50% {
        transform: translatey(calc(var(--axis-y) * -1));
    }
} 
  
/* LINES BACKGROUND */
.lines {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin: auto;
    width: 100vw;
}
  
.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}
.line:nth-child(3) {
    margin-left: 25%;
}
 
.line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
}
  
@-webkit-keyframes drop {
    0% {
        top: -50%;
    }

    100% {
          top: 110%;
    }
}
  
  @keyframes drop {
    0% {
      top: -50%;
    }

    100% {
      top: 110%;
    }
}